<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"> </script>
  </head>
  <body>
    <section>
      <h2>Step 1, 2</h2>
      <button id="root_button">Run AJAX Request to Root</button>
    </section>
    <section id="steps3456">
      <h2>Step 3, 4, 5, 6</h2>
      <button id="ping_pong_button">Run AJAX Request to Ping/Pong</button>
    </section>
  </body>
</html>
